body {
    background-color: #fcefe6;
    font-family: "Franklin Gothic", "Franklin Gothic Book", "Arial", sans-serif;
}

p {
    color: #2b2b2b;    
}

.flex-ul {
    background-color: white;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

a {
    color: #185214;
}

.headings {
    color:#683b17;
    font-weight: bold;
}

.center {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

.padding {
    margin-bottom: 30px;

}

.right {
    text-align: right;
    margin-right: 30%;

}

#title {
    color:black;
    font-style:italic
}

article {
    margin: 10%;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: small;
}

nav {
    justify-content: center;
    background-color: #185214;
    display: flex;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}



@media (min-width: 1024px) {
    .flex-container {
        display: flex;
    }

    .flex-ul {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }

    .rows {
        flex: 1;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: 20px;
    }

    nav {
    justify-content: center;
    background-color: #185214;
    display: flex;
    text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        display: flex;
        padding: 20px 30px;
        margin: 0;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

}