body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0;
    margin: 0;
    background-color: #03adfc;
}

main {
    width: 60%;
    min-height: 80vh;
    margin: auto;
    padding: 50px;
    background-color: #fcfcfc
}

ul {
  list-style-type: none;
  width: 65%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #12193d;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 35px;

}

footer {
    text-align: center;
}

.spacer {
    margin-top: 100px;
}

.photocreds {
  font-size: xx-small;
}