body {
    background-color: #004C54;
    font-family: "Times New Roman", Times, serif;
}

main {
    margin: auto 14%;
    background-color: white;
    font-size: 1.1em;
}

article {
    margin: 3em;
    padding-bottom: 4em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.picture-caption {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    margin-top: -.1em;
}

h1 {
    padding-top: .2em;
    text-align: center;
    color: white;
}

h2 {
    padding-top: .6em;
    text-align: center;
}

h4 {
    text-align: center;
    padding-top: 1.5em;
    margin-bottom: -.5em;
}

p {
    text-align: center;
}

a {
    color: red;
}

footer {
    text-align: center;
    color: white;
    padding-bottom: 1em;
}